 
 <div>

        <div class="content" style="margin:5% ;">
           
            <div class="row">
              <div class="col-md-12">
                <div style="text-align: center;">
                  <h1 >Welcome to Basecamp</h1>
                  <br>
                  <h5>a project management tool for developers</h5>
              </div>
              </div>
              <div style="height: 100px;"></div>

              <div class="col-md-3">
             </div>

            <div class="row col-md-6" style="padding: 5%">
              
                    <%= link_to "Sign in", new_user_session_path, class: "btn btn-fill btn-primary col-md-4"%> 
                
                
                    <div class="row col-md-4">
                    <br/>
                    </div>



              
                <%= link_to "Sign up", new_user_registration_path, class:"btn btn-fill btn-primary col-md-4" %> 
             
             </div>

             <div class="col-md-3">
            </div>
         </div>
   
</div>