<h1 class="text-primary">User Profile </h1>

                    <div class="card col-md-4" style="height: 14rem" >

                        <div class="card-body">
                          <h5 class="card-title"><p>Name: <%= @user.name %></p></h5>
                          <p>Email Address: <%= @user.email %></p>
                          <div>
                        <%= link_to 'Edit profile', edit_user_registration_path, class:"btn btn-primary" %>
                        </div>
                    </div>