<div id="<%= dom_id project %>">

                    <div class="col-md-12" >

                        <div class="card-body">
                          <h5 class="card-title"><p>
                            <strong>Name:</strong>
                            <%= project.name %>
                          </p>
                          </h5>
                         <p class="fs-6">
                            Description: 
                            <%= project.description %>
                            </p>
                           
                          </p>
                    </div>
 

</div>
